@inherits LayoutComponentBase

<MudThemeProvider Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout>
        <MudAppBar Elevation="4">
            @*<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />*@

            <MudLink Style="margin-bottom:-6px;" Href="">
                <img src="favicon.ico" title="Borderless Minecraft" />
            </MudLink>
            <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert>
                <MudLink Class="ml-3 appbar-text" Href="">
                    <MudText Typo="Typo.h6">Borderless Minecraft</MudText>
                </MudLink>
            </MudHidden>
            <MudSpacer />
            @*<MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Garderoben/MudBlazor" Target="_blank" />*@
            <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert>
                <MudLink Class="mx-4 appbar-text" Href="latest">
                    Download
                </MudLink>
                <MudLink Class="mx-4 appbar-text" Href="">
                    Docs
                </MudLink>
                <MudLink Class="mx-4 appbar-text" Href="faq">
                    FAQ
                </MudLink>
                <MudLink Class="mx-4 appbar-text" Href="">
                    Report an Issue
                </MudLink>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Mr-Technician/BorderlessMinecraft" Target="_blank" />
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp">
                <MudMenu Icon="@Icons.Filled.Menu" Color="Color.Inherit" Dense OffsetX Style="right:0;">
                    <MudMenuItem Link="">Download</MudMenuItem>
                    <MudMenuItem Link="">Docs</MudMenuItem>
                    <MudMenuItem Link="">FAQ</MudMenuItem>
                    <MudMenuItem Link="">Report an Issue</MudMenuItem>
                    <MudMenuItem Link="https://github.com/Mr-Technician/BorderlessMinecraft">Github</MudMenuItem>
                </MudMenu>
            </MudHidden>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">BorderlessMinecraftSite</MudText>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>

@code {
    bool _drawerOpen;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    string[] FontFamily = new[] { "Montserrat", "sans-serif" };

    MudTheme theme = new MudTheme();

    MudTheme darkTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#27272f",
                Background = "#32333d",
                BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#27272f",
                DrawerText = "rgba(255,255,255, 0.50)",
                DrawerIcon = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272f",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                Divider = "rgba(255,255,255, 0.12)",
                DividerLight = "rgba(255,255,255, 0.06)",
                TableLines = "rgba(255,255,255, 0.12)",
                LinesDefault = "rgba(255,255,255, 0.12)",
                LinesInputs = "rgba(255,255,255, 0.3)",
                TextDisabled = "rgba(255,255,255, 0.2)"
            }
        };


    protected override void OnInitialized()
    {
        theme.Typography.Default.FontFamily = FontFamily;
        theme.Typography.H1.FontFamily = FontFamily;
        theme.Typography.H2.FontFamily = FontFamily;
        theme.Typography.H3.FontFamily = FontFamily;
        theme.Typography.H4.FontFamily = FontFamily;
        theme.Typography.H5.FontFamily = FontFamily;
        theme.Typography.H6.FontFamily = FontFamily;
        theme.Typography.Subtitle1.FontFamily = FontFamily;
        theme.Typography.Subtitle2.FontFamily = FontFamily;
        theme.Typography.Body1.FontFamily = FontFamily;
        theme.Typography.Body2.FontFamily = FontFamily;
        theme.Typography.Button.FontFamily = FontFamily;
        theme.Typography.Caption.FontFamily = FontFamily;
        theme.Typography.Overline.FontFamily = FontFamily;
        theme.Palette.AppbarBackground = "#27272f";
        theme.Palette.AppbarText = "rgba(255,255,255, 0.70)";
        //theme.Palette.Background = Colors.Grey.Lighten1;
    }
}